<div class="page budgets-page">
  <form name="budgetForm" ng-submit="vm.save(budgetForm, $event)" novalidate>
    <!-- FORM -->
    <div class="row">
      <div class="col-md-6">
        <label>Name</label>
        <input class="form-control" ng-model="vm.budget.name" />
      </div>

      <div class="col-md-6">
        <label>Client Name</label>
        <input class="form-control" ng-model="vm.budget.clientName" />
      </div>

      <div class="col-md-6 m-t-10">
        <label>Date</label>
        <input type="date" class="form-control" ng-model="vm.budget.date" />
      </div>

      <div class="col-md-6 m-t-10">
        <label>Thumbnail URL</label>
        <input class="form-control" ng-model="vm.budget.thumbnail" />
        <div class="m-t-5">
          <!-- type="button" para que NO dispare submit -->
          <button type="button" class="btn btn-default btn-sm" ng-click="vm.clearThumbnail()">
            Delete thumbnail
          </button>
        </div>
        <div class="m-t-10" ng-if="vm.budget.thumbnail">
          <img ng-src="{{ vm.budget.thumbnail }}" style="max-width: 220px; max-height: 140px;" />
        </div>
      </div>

      <div class="col-md-6 m-t-10">
        <label>Total Cost</label>
        <input class="form-control" ng-value="vm.budget.totalCost" disabled />
      </div>

      <div class="col-md-6 m-t-10">
        <label>Total Sale</label>
        <input class="form-control" ng-value="vm.budget.totalSale" disabled />
      </div>
    </div>

    <hr />

    <!-- TABLE -->
    <div class="row">
      <div class="col-md-12">
        <!-- Botones con flex para responsive -->
        <div class="detail-actions">
          <button type="button" class="btn btn-primary" ng-click="vm.addChapter()" ng-disabled="vm.saving">
            Create chapter
          </button>

          <div style="flex: 1;"></div>

          <a class="btn btn-default" ui-sref="budgets">Back</a>
          
          <button type="submit" class="btn btn-success" ng-disabled="vm.saving">
            {{ vm.saving ? 'Saving...' : 'Save' }}
          </button>
        </div>

        <div ng-include="vm.tableTpl"></div>
      </div>
    </div>
  </form>
</div>